<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Your account has been denied.</h1>
    <p>Hello,</p>
    <p>We regret to inform you that your account (<%= @user.email %>) has been denied.</p>
    <p>Please review your application and try again.</p>
    <p>Best regards,</p>
    <p>The Team</p>
  </body>
</html>
