<div class="d-flex justify-content-center" style="max-width: 100vw;">
  <div class="w-100" style="max-width: 90vw;">
    <% if @stock.data.present? %>
      <%= candlestick_chart(
        @chart_data,
        class: 'box',
        theme: 'roma',
        options: {
          series: {
            type: "candlestick",
            itemStyle: {
              color: "#FF1053",
              borderColor: "#FF1053",
              color0: "#66999B",
              borderColor0: "#66999B"
            }
          },
          xAxis: {
            axisTick: {
              alignWithLabel: true
            }
          },
          yAxis: {
            scale: true,
            splitArea: {
              show: true
            }
          },
          dataZoom: [
            {
              type: 'inside',
              start: 0,
              end: 100
            },
            {
              show: true,
              type: 'slider',
              top: '90%',
              start: 0,
              end: 100
            }
          ]
        })
      %>
    <% else %>
      <span>No data available.</span>
    <% end %>
  </div>
</div>
