<div>
  <h1>Graph</h1>
  <h3>TCKR</h3>
  <h5>Company Name</h3>
    <p><% @stock_timeseries %></p>
    <p><% @historical_data %></p>
</div>

<div>
    <% if @stock.data.present? %>
        <%= candlestick_chart(
         @chart_data,
         class: 'box',
         theme: 'roma',
         options: {
           xAxis: {
             axisTick: {
               alignWithLabel: true
             }
           },
           yAxis: {
             scale: true,
             splitArea: {
               show: true
             }
           },
           dataZoom: [
            {
              type: 'inside',
              start: 0,
              end: 100
            },
            {
              show: true,
              type: 'slider',
              top: '90%',
              start: 0,
              end: 100
            }
           ],
         })
    %>
    <% else %>
        <span>No data available.</span>
    <% end %>
</div>
