<div>
    <div>
        <h1>Graph</h1>
    </div>
    <div>
        <h1>Stocks</h1>
        <% @stocks.uniq(&:ticker).each do |stock| %>
            <li>
                <%= link_to portfolio_path(id: stock.id) do %>
                <strong>Company Name:</strong>
                <%= stock.company_name %>
                <strong>Ticker:</strong>
                <%= stock.ticker %>
                <% end %>
            </li>
            
        <% end %>
    </div>
</div>